<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form action ="/create" style="text-align:center;">
        <input type ="submit" value="InsertPost" style="text-align:center;">
    </form>
    <table style="width:center;">
        <thead>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
        </thead>
        <tbody>
            <% for(let i=0;i < posts.length ; i++){ %>
                <tr>
                    <td><%=posts[i].userId%></td>
                    <td><%=posts[i].id%></td>
                    <td><%=posts[i].title%></td>
                    <td><%=posts[i].body%></td>
                    <td><a href="/delete/<%=posts[i]._id%>">delete</a></td>
                    <td><a href="/update?_id=<%=posts[i]._id%>">update</a></td>
                    
                </tr>
            <% } %>    

        </tbody>
    </table>
    
</body>
</html>